*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 16px;
}

.root{
    --primary-color: #3684fd;
    --primary-light-color: #b5ddff;
    --background-color: #fff;
    

}

/* Utility */


.debug-box{
    background-color: red;
    padding: 1rem;
}


.debug-box2{
    background-color: green;
    padding: 1rem;
}

header{
    width: 100%;
    background-color: #3684fd;
    left: 0;
    top: 0;
    height: 70px;
}

header .container{
    height: 100%;
}


.main-menu ul{
    display: flex;
    list-style: none;
}

.main-menu li{
    margin-left: 1rem;
}

.main-menu li a{
    text-decoration: none;
}

.text-white{
    color: white;
}



.btn{
    border-radius: 50px;
    padding: 5px 10px;
    text-decoration: none;
}

.btn-white{
    background-color: white;
}

.btn-blue{
    background-color: #3684fd;
}

.btn-big{
    padding: 5px 40px;
}


main{
    padding-top: 80px;
}

.hamburgher{
    font-size: 1.5rem;
}



.container{
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


.rounded{
    border-radius: 1.5rem;
}


.m-1{
    margin: 5px 0;
}


/* Inizio main */


#intro .card{
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    background-color: #b5ddff;


}


#intro .card:first-child{
   text-align: left;
   padding: 0;
    

}

.phone-img{
    width: 50%;
    align-self: flex-end;
    display: block;
    margin: auto;
    padding: 0 2rem;
}

#intro .card i{
        
    font-size: 5rem;
    color: #3684fd;
    

}

#intro .card h3{
        
    margin: 1rem 0;
    

}

#intro .card p{
        
    color: gray;
    line-height: 2rem;
    font-weight: bold;
    

}



#planning{
    margin: 2rem 0;
    background-color: rgb(151, 146,	228	);
    padding: 2rem;


}

.column-white.rounded {
    background-color: white;
    margin: 20px 0;
}


#planning .column{
    margin: 1rem 0;
}

.planning-img{
    width: 70%;
}

.column-white-img{
    display: flex;
    justify-content: center;
}

.title-planning{
    color: white;
    margin: 60px 0;
}

.p-planning{
    color: white;
    margin: 10px 0;
    line-height: 1.5;
}

.title-white-col{
    padding: 21px 0;
    text-align: center;
}

.p-white-col{
    padding: 31px 16px;
    line-height: 1.5;
    text-align: center;
}

.planning-img-white{
    width: 35%;
}


#testimonial{
    padding-top: 3rem 0;

}

#testimonial .card{
    margin: 2rem 0;

}



#benefits{
    background-color: rgb(151, 146,	228	);
    padding: 4rem 0;
}



#benefits .card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-menu{
    display: none;
}






#about{
        margin: 2rem 0;

}

.about{
    display: flex;
    justify-content: center;
}

.title-about{
    color: rgb(151, 146,	228	);
    text-align: center;
    padding: 10px 0;
}

.text-about{
    padding: 20px;
}

#free{
    margin: 2rem 0;
    background-color: rgb(151, 146,	228	);
    height: 700px;


}




/* Responsive */

@media screen and (min-width: 768px) {
    .container{
        max-width: 740px;
    }

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        
        margin-left: - 0.75rem;
        margin-right: - 0.75rem;
    }

    #intro .card{
        
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        text-align: center;
        
    
    }

   
    #intro .card:first-child{
        
        width: calc((100% / 3 * 2) - 1.5rem);  
    
    }

    #testimonial .card{
        display: flex;
    }


    #testimonial .card .card-text{
        flex-grow: 1;
    }

    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2) - 2rem);
    }

    .column-white.rounded {
        background-color: white;
        margin: 20px 0;
        width: 100%;
    }
    .planning-img{
        width: 50%;
    }

    
  
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 960px;
    }

    #intro .card:first-child{
        display: flex;
    }

    #intro .card:first-child > div{
        width: 50%;
    }

    #planning .columns{
        display: flex;
        padding-left: 6rem;
        padding-right: 6rem;
        align-items: flex-end;
    }

    #planning .column{
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3 * 2) - 2rem);

    }

    .hamburger{
        display: none;
    }

    .main-menu{
        display: block;
    }
  
  
}

@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }

    .hamburgher{
        display: none;
    }
  
}



/* Responsive ipad */







