*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utility */


.debug-box{
    height: 80px;
    background-color: red;
}


.debug-box2{
    background-color: green;
    padding: 100px;
    width: 100%;
}

header{
    width: 100%;
    background-color: blue;
    left: 0;
    top: 0;
}

main{
    padding-top: 80px;
}



.container{
    max-width: 600px;
    margin: auto;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}




/* Inizio main */

.cards{
    width: 100%;
    
}

.card{
    margin-bottom: 1.5rem;

}

.card:first-child{
        
    width: 50%;
    

}

#planning{
    margin: 2rem 0;
    background-color: rgb(151, 146,	228	);
    height: 700px;


}


#planning .column{
    margin: 1rem 0;


}

#testimonial{
    margin: 2rem 0;
    height: 500px;


}

#benefits{
    margin: 2rem 0;
    background-color: rgb(151, 146,	228	);
    height: 700px;
    display: flex;
    align-items: center;


}

#benefits .col{
    background-color: black;
    margin: 10px;
    border-radius: 3px;
    width: 180px;
    height: 90px;
}


#about{
    
    height: 500px;
    margin: 2rem 0;



}

.about{
    display: flex;
    justify-content: center;
}

.title-about{
    color: rgb(151, 146,	228	);
    text-align: center;
    padding: 10px 0;
}

/* Responsive mobile */

@media (min-width: 768px) {
    .container{
        max-width: 740px;
    }

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: - 0.75rem;
        margin-right: - 0.75rem;
    }

    #intro .card{
        
        width: calc((100 / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        
    
    }

    .card:first-child{
        
        width: calc((100 / 3 * 2) - 1.5rem);
        
    
    }

    
  
}

@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }

    #intro .card:first-child{
        display: flex;
    }

    #intro .card:first-child > div{
        width: 50%;
    }

    #planning .columns{
        display: flex;
        padding-left: 6rem;
        padding-right: 6rem;
        align-items: flex-end;
    }

    #planning .column{
        width: calc(50% - 2rem);
        margin: 1rem;
    }
  
  
}

@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
  
}



/* Responsive ipad */

@media (max-width: 768px) {
    .card{
        display: flex;
        flex-wrap: wrap;
        
    
    }
}
